* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* added prefixes */
.example {
  display: grid;
  transition: all 0.5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}

/* general styles */
body {
  min-width: 375px;
  max-width: 1440px;
  font-family: "Montserrat", "sans-serif";
  margin: auto;
}

h1 {
  font-size: 32px;
}

h2 {
  text-align: center;
  font-size: 28px;
}

h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
}

p {
  line-height: 1.5;
}

p,
section a {
  font-family: "Nunito", "sans-serif";
}

nav {
  padding: 0 10px;
  font-weight: bold;
}

.description {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.logo {
  display: inline-block;
}

main {
  transition: padding 0.5s linear;
}

.picture {
  border-radius: 50%;
  border-color: grey;
}

/* general styles for projects and challenges section */
.projects,
.challenges {
  font-size: 20px;
}

.challenges {
  background-color: rgb(232, 230, 227);
}

.project-image {
  text-align: center;
  margin: 20px auto;
}

.project img {
  border-radius: 6px;
  max-width: 100%;
  transition: transform 0.25s;
  border-style: solid;
  border-width: 1px 0px 0px 1px;
  border-color: #d4d4d4;
}

.project img:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 5px #888888;
}

/* Styles for buttons in projects and challenges section */
.button-panel {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
}

.button {
  padding: 8px 16px 8px 16px;
  background-color: #4285f4;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-style: none;
  border-radius: 5px;
  transition: 0.2s;
  text-decoration: none;
}

.button:hover {
  background-color: #095fe7;
  cursor: pointer;
}

/***********************************************************************/
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-list {
  text-align: center;
  height: 0;
  overflow: hidden;
  transition: height 0.7s ease;
}

.show-list {
  display: block;
  height: 160px;
  transition: height 0.7s ease;
}

.main-list ul {
  list-style: none;
  text-align: center;
}

.main-list ul li a {
  display: block;
  color: black;
  text-decoration: none;
  line-height: 40px;
}

/*.show-list ul li a:hover {
  background-color: grey;
  transition: background-color 0.5s ease;
}*/

/*****************************************************************
/* Styles for Personal Information Section */
.about-me {
  background-color: rgb(232, 230, 227);
}

/* Styles for Projects Section */
.project p,
.challenge p {
  width: 80%;
  margin: auto;
}

h1 {
  display: block;
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: column;
}

.card img {
  width: 80%;
}

.card {
  padding: 15px;
  text-align: center;
  transition: transform 0.25s;
}

.card:hover {
  transform: scale(1.1);
}

.tech a {
  display: block;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  padding: 5px;
  font-weight: bold;
}

/*Styles contact info section*/
.contact {
  background-color: rgb(232, 230, 227);
  color: black;
}

.contact img {
  display: block;
  width: 130px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.contact p {
  color: black;
  font-size: 16px;
  line-height: 1.6;
}

.email-line {
  font-weight: bold;
}

span a {
  text-decoration: none;
  color: #00aae8;
  cursor: pointer;
}

/*mobile test setup*/
@media screen and (max-width: 480px) {
  section {
    padding: 40px 48px;
  }

  .description {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .project-image,
  .project-description {
    width: 100%;
  }
}

@media screen and (min-width: 481px) {
  section {
    padding: 40px 48px;
  }
}

@media screen and (min-width: 768px) {
  section {
    padding: 48px 60px;
  }

  .wrapper {
    margin: 0;
    width: 300px;
  }

  .toggle {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    background: #fff;
    padding: 0px 10px;
    font-weight: bold;
    z-index: 10;

    color: black;
  }

  .main-list {
    display: block;
    margin-left: 20px;
    min-width: 450px;
    max-width: 500px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    list-style-type: none;
  }

  .main-list ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-list li {
    display: inline-block;
  }

  .main-list ul li a {
    display: block;
    text-decoration: none;
    color: black;
    line-height: 20px;
  }

  .main-list ul li a::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background-color: #00aae8;
    transition: width 0.4s ease-in;
  }

  .main-list li a:hover::after {
    width: 100%;
  }

  .description {
    font-size: 24px;
    margin: 20px auto;
    width: 70%;
  }

  .project {
    display: flex;
    justify-content: space-between;
  }

  .project-image,
  .project-description {
    margin: auto;
  }

  .project-image {
    width: 55%;
  }

  .project-description {
    width: 45%;
  }

  .cards {
    display: grid;
    grid-template: repeat(3, 33.3%) / repeat(3, 33.3%);
  }

  .contact p {
    width: 60%;
    margin: auto;
    color: black;
    font-size: 16px;
    line-height: 1.6;
  }
}
